

#about_me.content
  My name is Nathaniel Barnes. I am tall and live 20 minutes east of Seattle, WA, with a mountain outside my bedroom window and the Snoqualmie River close enough to hear in the mornings.

  I am a software developer by trade, taught by a programmer friend who declared, with the boundless confidance of youth, 'I can teach you to code, it'll be easy, you're smart.'  Much to my older self's surprise, it stuck and I've been writing software for the last decade and a half. Every major project, personal and professional, I've worked on has used different languages and technolgies.  I love researching the latest tools and frameworks and putting them to use.

  To keep balance in my life, my family and I maintain our ranch and its residents; five horses, five cats, eleven chickens, and five human beings.

  My email adress is nbarnes@gmail.com.  My twitter username is [@foxbarnes](https://twitter.com/FoxBarnes).  I love GitHub with all my programmer's heart and my repositories can be found at https://github.com/nbarnes. Finally, like any reasonably organized technical professional, I have a well-maintained [LinkedIn page](http://www.linkedin.com/in/nbarnes2).