

#about_me.content
  = image_tag 'nath2.jpg', class: 'thumbnail_image', style: 'float: left'
  %div
    My name is Nathaniel Barnes. I am tall and live 20 minutes east of Seattle, WA, with a mountain outside my bedroom window and the Snoqualmie River close enough to hear in the mornings.
  %br
  = image_tag 'nath_kai_cropped.jpg', class: 'thumbnail_image', style: 'float: right'
  %div
    I am a software developer by trade, taught by a programmer friend who declared, with the boundless confidance of youth, 'I can teach you to code, it'll be easy, you're smart.'  Much to my older self's surprise, it stuck and I've been writing software for the last decade and a half. Every major project, personal and professional, I've worked on has used different languages and technolgies.  I love researching the latest tools and frameworks and putting them to use.
  %br
  = image_tag 'nath_leads_dorin_cropped.jpg', class: 'thumbnail_image', style: 'float: left'
  %div
    To keep balance in my life, my family and I maintain our ranch and its residents; four horses, five cats, eleven chickens, and five human beings.