
#welcome_content.content
  = image_tag 'nbarnes_portrait_2014.JPG', class: 'thumbnail_image', style: 'float: left'

  %div
    Hello, my name is Nathaniel Barnes, and welcome to my professional portfolio! I am a software developer living in the beautiful Pacific Northwest, in the greater Seattle area.
  %br
  = image_tag 'working.jpg', class: 'thumbnail_image', style: 'float: right'
  %div
    Here in my portfolio, you'll find examples of the projects that I've been working on, such as the Unofficial Trakehner Database, as well as my technical blog, where I discuss issues relating to software development.