
#welcome_content.content
  = markdown("Hello, my name is Nathaniel Barnes, and welcome to my professional portfolio! I am a software developer living in the great Pacific Northwest, in the greater Seattle area.")