
#welcome_content.content

  = image_tag 'nath3.jpg', class: 'thumbnail_image', style: 'float: left'
  %div
    Hello, my name is Nathaniel Barnes. I am a software developer living in the beautiful Pacific Northwest, in the greater Seattle area. I've created this website to show off my projects and my passion for software development.
  %br
  = image_tag 'working.jpg', class: 'thumbnail_image', style: 'float: right'
  %div
    Here on my website, you'll find examples of the projects that I've worked on, such as the Unofficial Trakehner Database. My interest in software development tends me in the area of software tools.  I get excited by the idea of things that users can put to work to help them in their jobs and lives. You'll find a website for horse breeders and a tool to help gamers alllocate their resources.
  %br
  = image_tag 'portfolio.jpg', class: 'thumbnail_image', style: 'float: left'
  %div
    You'll also find my technical blog, where I discuss issues relating to software development. I love to talk shop with my developer friends and am
    always interested in hearing new ideas about software development. I share my own thoughts here in the hopes of contributing to the ongoing conversation about development that I find so valuable.
  %br
  = image_tag 'nath_kai_lucky2.jpg', class: 'thumbnail_image', style: 'float: right'
  %div
    In the About Me section, you'll find a bit more about myself as a person, including pictures of me with our horses, our beautiful horse ranch in North Bend, and my son, Kai. Spending as much time as I do in front of a computer, both professionally and in my free time, makes me feel like I need to do something to feed other parts of myself. I find that living on a ranch and handling animals every day gives my life a lovely roundness.
