
@media (min-width: 33em)
  #site_owner_name
    font-size: 300%
  #tagline
    font-size: 150%

@media (min-width: 28em) and (max-width: 33em)
  #site_owner_name
    font-size: 230%
  #tagline
    font-size: 130%

@media (max-width: 28em)
  #site_owner_name
    font-size: 200%
  #tagline
    font-size: 115%

#site_owner_name, #tagline
  color: white
  text-decoration: none
  text-shadow: 0.1em 0.1em 0.2em black
  font-family: franklin_gothic_condensed

#site_owner_name
  line-height: 20%

#tagline
  position: relative
  top: -0.67em
  margin-left: 0.08em

#admin_nav
  float: right

#flash_display
  float: right

#logged_in_user_email
  color: black

#sign_out_link
  float: right

#log_in_label
  font-size: 200%

#login_pane

.login_widget
  width: 16em

.login_field
  float: right

#remember_me_pane
  display: block

.sign_in_button
  font-size: 200%