
#site_header
  color: white
  text-shadow: 3px 3px 8px black

#site_owner_name
  font-size: 300%
  font-family: franklin_gothic_condensed
  line-height: 100%

#tagline
  position: relative
  top: -4px
  font-size: 150%
  font-family: franklin_gothic_condensed
  margin-left: 0.1em
  margin-bottom: 0.3em
