@media (min-width: 640px)
  #header_pane
    padding-left: 1.2em
    padding-bottom: 0.5em
  #header_portrait
    float: left
    overflow: hidden
    width: 6em
    height: 6em
  #header_text
    padding-top: 2.2em
    padding-left: 7.5em
  #site_name
    font-size: 300%
    margin-top: -5em
  #tagline
    font-size: 150%
  #tagline
    top: -0.35em
    margin-left: 0.08em

  .tab_label
    font-size: 150%
    left: 0.1em

@media (min-width: 600px) and (max-width: 640px)
  #header_pane
    padding-left: 1.2em
    padding-bottom: 0.75em
  #header_portrait
    float: left
    overflow: hidden
    width: 6em
    height: 6em
  #header_text
    padding-top: 1.6em
    padding-left: 7em
  #site_name
    font-size: 250%
    margin-top: -5em
    top: -0.1em
  #tagline
    font-size: 120%
    top: 0em
    margin-left: 0.08em
  .tab_label
    font-size: 125%
    left: 0.05em

  #contact_links
    padding-top: 0.5em

@media (min-width: 400px) and (max-width: 599px)
  #header_pane
    padding-left: 1em
  #header_portrait
    overflow: hidden
    width: 6em
    height: 6em
    margin-left: auto
    margin-right: auto
    margin-top: -1em
  #header_text
    padding-top: 2em
  #site_name
    font-size: 200%
    margin-top: -5em
  #tagline
    font-size: 110%
  #tagline
    top: -0.67em
    margin-left: 0.08em
  .tab_label
    font-size: 100%
  .entry_title
    font-size: 170%

@media (min-width: 320px) and (max-width: 400px)
  #header_pane
    padding-left: 1em
  #header_portrait
    overflow: hidden
    width: 5em
    height: 5em
    margin-left: auto
    margin-right: auto
    margin-top: -1em
  #header_text
    font-size: 120%
    padding-top: 1em
    margin-left: 0em
  #site_name
    font-size: 150%
    margin-top: -5em
  #tagline
    font-size: 90%
    top: -0.4em
    margin-left: 0.08em
  #tab_pane
    li
      top: 1px
      left: -2px
  .tab_label
    font-size: 100%
    margin-left: 0.15em
  .entry_title
    font-size: 200%
  .content
    font-size: 70%
  #footer_contact_links
    margin-top: -0.8em

@media (max-width: 320px)
  #tagline
    font-size: 80%

@media (max-width: 799px)
  #header_contact_links
    display: none

@media (min-width: 799px)
  #footer_contact_links
    display: none
  .contact_links br
    display: none
