@media (min-width: 640px)
  #header_pane
    padding-left: 1.2em
  #header_portrait
    float: left
    overflow: hidden
    width: 6em
    height: 6em
  #header_text
    padding-top: 1.3em
    padding-left: 7em
  #site_owner_name
    font-size: 300%
    margin-top: -5em
  #tagline
    font-size: 150%
  #tagline
    top: -0.67em
    margin-left: 0.08em

  .tab_label
    font-size: 150%
    left: 0.1em

@media (min-width: 600px) and (max-width: 640px)
  #header_pane
    padding-left: 1.2em
    padding-bottom: 0.75em
  #header_portrait
    float: left
    overflow: hidden
    width: 6em
    height: 6em
  #header_text
    padding-top: 1.3em
    padding-left: 7em
  #site_owner_name
    font-size: 250%
    margin-top: -5em
  #tagline
    font-size: 120%
  #tagline
    top: -0.67em
    margin-left: 0.08em

  .tab_label
    font-size: 125%
    left: 0.05em

  #contact_links
    padding-top: 0.5em

@media (min-width: 400px) and (max-width: 599px)
  #header_pane
    padding-left: 1em
  #header_portrait
    overflow: hidden
    width: 4em
    height: 4em
    margin-left: auto
    margin-right: auto
  #header_text
    padding-top: 0.5em
  #site_owner_name
    font-size: 200%
    margin-top: -5em
  #tagline
    font-size: 110%
  #tagline
    top: -0.67em
    margin-left: 0.08em

  .tab_label
    font-size: 100%

@media (min-width: 320px) and (max-width: 400px)
  #header_pane
    padding-left: 1em
  #header_portrait
    overflow: hidden
    width: 4em
    height: 4em
    margin-left: auto
    margin-right: auto
    margin-top: -1em
  #header_text
    padding-top: 0.5em
    margin-left: 0em
  #site_owner_name
    font-size: 150%
    margin-top: -5em
  #tagline
    font-size: 90%
    top: -0.67em
    margin-left: 0.08em

  #tab_pane
    li
      top: 1px
      left: -2px

  .tab_label
    font-size: 80%
    margin-left: -0.35em
  .title
    font-size: 130%
  .content
    font-size: 70%

  #footer_contact_links
    margin-top: -0.8em

@media (max-width: 320px)
  #tagline
    font-size: 80%

@media (max-width: 800px)
  #header_contact_links
    display: none

@media (min-width: 800px)
  #footer_contact_links
    display: none
  #contact_links br
    display: none