
#admin_nav

  #flash_display
    - flash.each do |key, value|
      %div{:class => '<%=flash_class(key) %>'}
      = value
  %br


  - if signed_in?
    %span.signed_in_label
      Signed in as

      %span#logged_in_user_email
        = current_user.email

    %br
    #sign_out_link
      = link_to "Sign out", destroy_user_session_path, method: :delete

#site_owner_name
  Nathaniel Barnes
#tagline
  Elegant software design for a more civilized age
