
- if signed_in?

  #login_status_pane
    %span.signed_in_label
      Logged in as

    %span#logged_in_user_email
      = current_user.email
    :plain
       -
    = link_to "Projects admin", projects_admin_path
    :plain
       -
    = link_to "Posts admin", posts_admin_path
    :plain
       -
    %span#logout_link
      = link_to "Log out", destroy_user_session_path, method: :delete
