
#welcome_content.tabbed_content
  = render 'static/welcome_content'
#blog_content.tabbed_content
  = render 'posts/index'
#projects_content.tabbed_content
  = render 'projects/index'
#about_me_content.tabbed_content
  = render 'static/about_me_content'
