
.project
  %h4
    = link_to project.title, project, :class => "entry_title title"
  = link_to "Comments", project_path(project, anchor: 'disqus_thread'), :class => "entry_comments_link"
  - if !project.published?
    .unpublished_label
      :preserve
        - Unpublished
  .project_description
    = markdown project.content
  .project_image
    - if project.image != ""
      = image_tag project.image, size: '420x360', class: 'project_image'