

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <%= yield %>
      <h2>Hello, World!</h2></div>
    <div class="col-md-3">
      <h2>About Me</h2>
      <p>My name is Nathaniel Barnes.  This is my Ruby on Rails-based custom blogging application.  Welcome!  I am a career software developer who is in the process of learning new and exciting techincal skills with the help of CodeFellows' Ruby on Rails bootcamp.</p>
    </div>
  </div>
</div>