
= replace :tabs do
  %li#projects_admin_tab.tab
    Projects Admin

= replace :content do
  #projects_admin_content.tabbed_content
    = render 'projects/projects_admin_display_table', projects: @projects
    %br
    %input{type: 'button', value: 'Create New Project', class: 'create_new_button'}
