
#tabbed_content
  #tab_pane
    %ul.tab_row
      %li#welcome_tab.tab.selected
        Welcome
      %li#projects_tab.tab
        Projects
      %li#blog_tab.tab
        Blog
      %li#about_tab.tab
        About

  #content_pane

    #welcome_content.content.selected
      = render "static/welcome_content"

    #projects_content.content
      - @projects.each do |project|
        = render "shared/project_display", project: project
        %br

    #blog_content.content
      - @posts.each do |post|
        = render "shared/post_display", post: post
        %br

    #about_content.content
      = render "static/about_me"