<style>
  p {width:600px}
</style>

<p><%= markdown('My name is Nathaniel Barnes.  I am tall and live in Seattle, WA with five family members, five horses, five cats, and five chickens.  My email address is nbarnes@gmail.com, and links to my [Twitter](https://twitter.com/FoxBarnes "Twitter"), [GitHub](https://github.com/nbarnes "GitHub"), and [LinkedIn](http://www.linkedin.com/in/nbarnes2 "LinkedIn") profiles can be found in the sidebar to the left.  Welcome to my blog.') %></p>