
#tabbed_content
  #tab_pane
    %ul.tab_row
      %li#tab1.tab
        Lorem
      %li#tab2.tab.selected
        Ipsum
      %li#tab3.tab
        Sit Amet
      %li#tab4.tab
        Consectetur adipisicing

  #content_pane

    #content1.content
      Habent claritatem insitam est usus legentis, in iis qui facit eorum claritatem Investigationes demonstraverunt. Dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla? Laoreet dolore magna aliquam erat volutpat ut wisi enim ad minim. Vel eum iriure; dolor in hendrerit in vulputate velit.

    #content2.content.selected
      Putamus parum claram anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta, decima eodem modo. Nobis eleifend option congue nihil imperdiet doming id quod mazim placerat! Lectores legere me lius quod ii: legunt saepius claritas est. Mirum est notare quam littera, gothica quam nunc. Dolore te feugait nulla facilisi nam liber tempor.

    #content3.content
      Ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy nibh euismod tincidunt. Per seacula quarta decima et quinta decima eodem modo typi qui nunc nobis videntur parum clari. Facit eorum claritatem Investigationes demonstraverunt lectores legere me lius quod, ii legunt saepius claritas est etiam. Minim veniam quis nostrud exerci tation ullamcorper suscipit lobortis. Iriure dolor in hendrerit in vulputate velit esse.

    #content4.content
      Vel eum iriure dolor in hendrerit in vulputate velit esse molestie. Delenit augue duis dolore te feugait nulla facilisi nam liber!
