/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require load_bootstrap
 *= require simple-sidebar
 *= require_tree .
 */

.post_author {
  text-align: right;
}

.post_comments_link {
  a:link {color:#ed490a;}      /* unvisited link */
  a:visited {color:#ed490a;}  /* visited link */
  a:hover {color:#ed490a;}  /* mouse over link */
  a:active {color:#ed490a;}  /* selected link */
}

.post_title_link {
  a:link {color:#666666;}      /* unvisited link */
  a:visited {color:#666666;}  /* visited link */
  a:hover {color:#666666;}  /* mouse over link */
  a:active {color:#666666;}  /* selected link */
}