
@font-face {
    font-family: 'libre_baskerville';
    src: font-url('LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'franklin_gothic_demi';
    src: font-url('FranklinGothic-Demi-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
