.post_title {
  font-family: Times;
  font-size: 125%;
}

.post_comments {
  font-size: small;
}

.post_content {
  font-family: Georgia;
}

.post_author {

}

.post_timestamp {

}

#blog_title {

}

.sidebar_link {

}

#about_me_text {

}