.entry_title {
  font-family: Verdana;
}

.entry_comments {
  font-size: small;
}

.entry_content {
  font-family: Georgia;
}

.entry_author {

}

.entry_timestamp {

}

#blog_title {
  font-size: 250%;
  color: black;
}

.sidebar_link {

}

#about_me_text {

}