
.entry_title {
  color:#000000; /* unvisited link */
}

.entry_title :visited {
  color: #333333;
}

.entry_title:hover {
  color:#666666; /* mouse over link */
}

.entry_title:active  {
  color:#999999; /* mouse clicked link */
}