
#tab_pane
  #tabs
    %ul.tab_row
      = area :tabs do

        %li#default_tab.tab.selected
          Default tab

  #tabbed_content_pane
    = area :content do

      #default_content.tabbed_content
        Default content